*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
section{
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.section-title{
    color: saddlebrown;
}
.player:hover {
    font-size: 20px;
}
.player>img:hover {
height: 100px;
transition-duration: 2s;

}
.top-players, .blogs, .courses{
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}
.top-players, .courses {
    grid-template-columns: repeat(3, 1fr);
}
.top-players {
    border-bottom: 3px solid #e5e9dc;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.blogs {
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}
.blog {
    border: 1px solid lightgray;
    border-radius: 5%;

}

.player, .blog{
    display: flex;
    align-items: center;
}
.player img {
    height: 50px;
    margin-right: 20px;
}
.thumbnail img {
    width: 200px;
    margin-right: 20px;
    padding-top: 0px;
}

.course img {
    width: 100%;
}

.course-info {
    display: flex;
}
.course {
    box-shadow: 2px 2px 2px gray;
    border-radius: 5%;
}
.filled {
    color: goldenrod;
    font-size: 0.8em;
}
.unfilled {
    color: lightgray;
    font-size: 0.8em;
}
.duration {
    margin-left: auto;
    background-color: lightpink;
    border-radius: 10px;
}
footer{
text-align: center;
font-size: 15px;
color: purple;
margin: 50px 0px 20px 0px;
}
.footer {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
@media (max-width:992px){
    .top-players, .courses {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:668px){
    .top-players, .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog {
        display: block;
    }
}